{% extends "page.html" %}

{% load static %}

{% block page_contents %}
  <table class='table table-borderless table-hover'>
  <!-- <div class='row'>
    <p class='text-center'> -->
    <thead class='thead-inverse'>
      <tr><th></th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align:middle;">
          <a href="https://docs.zoho.com/file/1yzerc014f2ff4929489ea46a716bce49b5c2">
            <img src="{% static "images/document.png" %}" style="width:50px">
            视光中心表单
          </a>
        </td>
        <td style="vertical-align:middle;">
        1.视力筛查表：下乡入校使用<br>
        2.告家长书：入校筛查后发给视力不达标孩子家长<br>
        3.验光检查表<br>
        4.结果总结表<br>
        5.学生签到表：到达视光中心签到<br>
        6.检查跟进表——视光中心工作用<br>
        7.加工室工作表格——视光中心工作用<br>
        </td>
      </tr>
      
      <tr>
        <td style="vertical-align:middle;">
          <a href="https://docs.zoho.com/file/1yzerc014f2ff4929489ea46a716bce49b5c2">
            <img src="{% static "images/document.png" %}" style="width:50px">
            员工手册
          </a>
        </td>
        <td style="vertical-align:middle;">
            
        </td>
      </tr>
      
      <tr>
        <td style="vertical-align:middle;">
          <a href="https://docs.zoho.com/file/1yzerc014f2ff4929489ea46a716bce49b5c2">
            <img src="{% static "images/document.png" %}" style="width:50px">
            视光中心表单
          </a>
        </td>
        <td style="vertical-align:middle;">
        1.视力筛查表：下乡入校使用<br>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}