{% comment %}
Top navigation link item.
Expected context:
{{ page }}
{{ active_store }}
{{ active_page }}
{{ visible_pages }}
{% endcomment %}

{% load static %}

{% if page.pk %}

    {# Page configured #}

    <li class="
        {% if not page.slug in visible_pages %}disabled-nav-item{% endif %}
        {% if active_page.slug == page.slug %}active{% endif %}
        "><a href="
            {% if page.slug in visible_pages %}
                {% if page.level == "STORE_LEVEL" %}
                    {% url "store_page" active_store.id page.slug %}
                {% else %}
                    {% url "page" page.slug %}
                {% endif %}
            {% else %}
                javascript: void 0;
            {% endif %}
            ">
            <img src="{% static page.icon_path %}">
            {{ page.title }}</a>
    </li>

{% else %}

    {# Page exists in navigation but not configured in DB #}
    {# Show an error #}

    <li class="disabled" title="Page not configured">
        <a href="javascript: void 0;">
            <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span>
            出错
        </a>
    </li>

{% endif %}
