# -*- coding: utf-8 -*-
from __future__ import unicode_literals

"""
Setting overrides specific to selected environment.
This file is populated automatically by Ansible deployment script.
"""

from settings_base import *


ALLOWED_HOSTS = [
{% if domain_name %}
    '{{ domain_name }}',
{% else %}
    '*',
{% endif %}
]


# SECURITY WARNING: don’t let this public key leak.
# Apart from the person who manages your production application
# no one should ever see this key.
# Rotate this key on regular basis.
SECRET_KEY = '{{ django_secret }}'



{% if debug %}

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

INSTALLED_APPS += [
    'django_extensions',
    'sslserver',
]
{% endif %}

{% if ssl %}
SECURE_SSL_REDIRECT = True
# This requires a corresponding setting in Nginx config
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTOCOL', 'https')

{% endif %}


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, '..', 'db.sqlite3'),
    }
}
