# -*- coding: utf-8 -*-
from __future__ import unicode_literals

"""
Setting overrides specific to selected environment.
This file is populated automatically by Ansible deployment script.
"""

from settings_base import *


ALLOWED_HOSTS = [
    '{{ domain_name }}',
]


# SECURITY WARNING: don’t let this public key leak.
# Apart from the person who manages your production application
# no one should ever see this key.
# Rotate this key on regular basis.
SECRET_KEY = '{{ django_secret }}'


{% if django_debug %}

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True


INSTALLED_APPS += [
    'django_extensions',
    'sslserver',
]

{% endif %}


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, '..', 'db.sqlite3'),
    }
}

STATIC_ROOT = os.path.join(BASE_DIR, '..', 'static')
