CONFIG = {
  'pythonpath': '{{ project_home }}/src',
  'user': '{{ user }}',
  'group': '{{ group }}',
  'loglevel': 'debug',
  'working_dir': '{{ project_home }}/src',
  'args': {
    '--bind=unix:/var/run/gunicorn/gunicorn.sock',
    '--workers=1',
    'wsgi',
  }
}
