upstream {{ appname }} {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:/var/run/gunicorn/gunicorn.sock fail_timeout=0;
}

server {
    listen 80 default_server;
    server_name _;
    return 444;
}

server {
    listen 80;
    listen 443 ssl;

    server_name {{ domain_name }};

    ssl_certificate {{ letsencrypt_live_root }}/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key {{ letsencrypt_live_root }}/{{ domain_name }}/privkey.pem;

    client_max_body_size 4M;

    access_log {{ project_home }}/nginx.{{ appname }}.access.log;
    error_log {{ project_home }}/nginx.{{ appname }}.error.log;

    location /static/ {
        alias   {{ project_home }}/static/;
    }

    location / {
        proxy_pass http://{{ appname }};

        add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    # Error pages
    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root {{ project_home }}/static/;
    }
}
