{% comment %}
Link block in home navigation.
Expects context: ``page``, optional ``active_page``, optional ``active_store``.
{% endcomment %}

{% load static %}

{% if page.id %}
    {# Page exists #}
    <li class="
        {% if active_page.slug == page.slug %}active{% endif %}
        "><a href="
            {% if page.level == "STORE_LEVEL" %}
                {% url "store_page" active_store.id page.slug %}
            {% else %}
                {% url "page" page.slug %}
            {% endif %}
            ">
            <img src="{% static page.icon_path %}">
            {{ page.title }}</a></li>
{% else %}
    <li class="disabled"><a href="javascript: void 0;">
        <span class="glyphicon glyphicon-exclamation-sign"
            aria-hidden="true"></span>
        出错</a></li>
{% endif %}

