<!doctype html>

<html>

<head>

    <meta charset="utf-8">

    <title>{% block window_title_text %}SmartFocus{% endblock %}</title>

    <style>
        body {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            display: flex;
            flex-flow: column nowrap;
        }
        main {
            flex: 2;
        }
    </style>

    {% block extra_head %}{% endblock %}

</head>

<body>

    <nav>
        <ul>
            {% for store in stores %}
            <li>
                {{ store }}

                <ul>
                    {% for sp in store.store_pages.all %}
                    <li>
                        <a href="{% url 'store_page' store.id sp.page.slug %}"
                            >{{ sp.page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>

    <header>
        <h1>{% block page_header_text %}{% endblock %}</h1>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

</body>
