{% extends "page.html" %}

{% comment %}
Typical page showing a set of Zoho iframes.
Expected context, in addition to extended templates:
* {{ iframe_urls }}: A list of valid URLs to show in iframes
{% endcomment %}

{% block extra_head %}
    {{ block.super }}

    <style>
    /*  
        main {
                height: 100%
                overflow-y:scroll;

        }*/


        .page > main {
                overflow-y: scroll;
                width:100%;
                flex-direction: column;
        }

        .iframe-page--not-configured > main {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .iframe-container {
            flex: 1;
            position: relative;
                width: 90%;
                justify-content: center;
	        margin: 1%;
                min-height: 100%;
        }
        .iframe-container > iframe {
            /* Make this iframe occupy all available space */
            width: 100%; height: 130%;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: 1;
        }
        .iframe-container > .loading-message,
        .iframe-container > .not-configured-message {
            width: 100%; height: 100%;

            position: absolute;
            top: 10; right: 0; bottom: 0; left: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 200%;
            color: #aaa;
            z-index: 0;
        }
        _::-webkit-full-page-media, _:future, :root .all-container {
            height: 600px;

        }


    </style>
{% endblock %}

{% block page_class %}
    {% if not iframe_urls %}
        iframe-page--not-configured
    {% endif %}
{% endblock %}

{% block page_contents %}
<div class ="all-container">
{% for iframe_url in iframe_urls %}

        <div class="iframe-container">
            <iframe
                frameborder="0"
                allowTransparency="true"
                scrolling="auto"
                src="{{ iframe_url }}">
            </iframe>
        </div>

    {% empty %}

        <div class="iframe-container">

            <div class="not-configured-message">

            <!-- <div class="loading-message">
                <p>
                    Loading {{ page.title }}{% if page.level == "STORE_LEVEL" %} at
                    {{ active_store }}{% endif %}…
                </p>
            </div>-->

                <p>
                    {{ page }}{% if page.level == "STORE_LEVEL" %}
                    at {{ active_store }}{% endif %} has not been configured
                </p>
            </div>

        </div>

    {% endfor %}
    </div>
{% endblock %}
