{% extends "base.html" %}

{% block extra_head %}
    <style>
        main {
            /* Needed because iframe is absolutely aligned. */
            position: relative;
	    background-color: red;
        }
        main > iframe {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            width: 100%; height: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    <iframe
        frameborder="0"
        allowTransparency="true"
        scrolling="auto"
        src="{% block iframe_url %}{% endblock %}"></iframe>
{% endblock %}
