{% extends "base_authenticated.html" %}

{% block main %}
    <section>
        {% if managed_stores %}
            <ul>
                {% for store in managed_stores %}
                <li>
                    <a href="{% url "store_home" store.id %}">{{ store.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"
                    aria-hidden="true"></span>
                No stores to display!
            </div>
        {% endif %}
    </section>
{% endblock %}
