{% extends "base_authenticated.html" %}

{% load static %}

{% block main %}
    <nav class="home-nav home-nav--bordered">
        <ul>
            {% include "_home_nav_page_link.html" with num=1 page=pages.patient %}
            {% include "_home_nav_page_link.html" with num=2 page=pages.exam %}
            {% include "_home_nav_page_link.html" with num=3 page=pages.sale %}
            {% include "_home_nav_page_link.html" with num=4 page=pages.salescomparison %}

            {% include "_home_nav_page_link.html" with num=5 page=pages.patientrecords %}
            {% include "_home_nav_page_link.html" with num=6 page=pages.examrecords %}
            {% include "_home_nav_page_link.html" with num=7 page=pages.salesrecords %}
        </ul>
    </nav>

    <nav class="home-nav">
        <ul>
            {% include "_home_nav_page_link.html" with num=8 page=pages.newproduct %}
            {% include "_home_nav_page_link.html" with num=9 page=pages.newinventory %}
            {% include "_home_nav_page_link.html" with num=10 page=pages.inventoryreviewform %}
            {% include "_home_nav_page_link.html" with num=11 page=pages.discrepancyrecords %}

            {% include "_home_nav_page_link.html" with num=12 page=pages.products %}
            {% include "_home_nav_page_link.html" with num=13 page=pages.frameinventory %}
            {% include "_home_nav_page_link.html" with num=14 page=pages.lensinventory %}
        </ul>
    </nav>

    <nav class="home-nav">
        <ul>
            {% include "_home_nav_page_link.html" with num=15 page=pages.documents %}

            <li>
                <a href="{% url "logout" %}">
                    <img src="{% static "images/logout.png" %}">
                    <h2 class="title">16 退出</h2>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block extra_head %}
    {{ block.super }}

    <style>
        body > main {
            justify-content: stretch;
            align-items: stretch;
        }

        .home-nav {
            padding: 1.5em;
            margin: 1em;
        }
        .home-nav--bordered {
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .home-nav ul {
            padding: 0;
            margin: 0;

            display: grid;
            grid-template: "link link link link";
            grid-auto-rows: min-content;
            grid-auto-columns: 25%;
            grid-row-gap: 2em;
        }
        .home-nav ul li {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 120px;
        }
        .home-nav img,
        .home-nav .glyphicon {
            width: 50px;
            height: 50px;
        }
        .home-nav a {
            display: block;
            text-align: center;
        }
        .home-nav a:link,
        .home-nav a:visited,
        .home-nav a:hover {
            text-decoration: none;
            color: inherit;
        }
        .home-nav .title {
            font-size: 18px;
            font-weight: bold;
        }
        .home-nav p.desc {
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
