{% extends "base_authenticated.html" %}

{% comment %}
Renders page with one or more Zoho iframes.
Required context:
* {{ title }}: String for window title
* {{ iframe_urls }}: List of iframe URLs
{% endcomment %}

{% block window_title_text %}{{ title }} — {{ block.super }}{% endblock %}

{% block extra_head %}
    {{ block.super }}

    <style>
        main {
            background-color: red;
            justify-content: stretch;
            align-items: stretch;
        }
        main > .iframe-container {
            display: flex;
            justify-content: stretch;
            align-items: stretch;
            flex: 1;
        }
        .iframe-container > iframe {
            /* Make this iframe occupy all available space */
            width: 100%; height: 100%;
        }
    </style>
{% endblock %}

{% block main %}
    {% for iframe_url in iframe_urls %}

        <div class="iframe-container">
            <iframe
                frameborder="0"
                allowTransparency="true"
                scrolling="auto"
                src="{{ iframe_url }}"></iframe>
        </div>

    {% endfor %}
{% endblock %}
